<div class="footer">
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-sx-12">
          <ul class="list-inline bottom-links">
            <li><a href="http://itu.edu.pk">HOME</a></li>
            <li><a href="http://itu.edu.pk/about">ABOUT</a></li>
            <li><a href="http://itu.edu.pk/careers">CAREERS</a></li>
            <li><a href="http://itu.edu.pk/contact">CONTACT</a></li>
          </ul>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-sx-12 col-lg-offset-1">
          <p class="fpara text-right">© 2014 Information Technology University of the Punjab</p>
        </div>
      </div>
    </div>
  </div>
</div>