<div class="header">
  <div class="container-fluid">
    <div class="row">
      <!-- Logo -->
      <div class="col-lg-2 col-sm-2 col-xs-12 high-zindex">
        <a href="http://itu.edu.pk"><img id="logo-header" src="http://itu.edu.pk/wp-content/themes/itu/images/logo.png" alt="Logo"></a>
      </div>
      <div class="col-lg-10 col-sm-10 col-xs-12 pull-right">

        <div class="menu clearfix">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-xs-12">
              <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                  <div id="menu-button"></div>
                </button>
                <nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation" style="height: auto;">
                  <div class="menu-main-menu-container"><ul id="menu-main-menu" class="nav navbar-nav nav-custom"><li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a href="http://itu.edu.pk/">home</a></li>
                    <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-16 current_page_item menu-item-34"><a href="http://itu.edu.pk/about/">University Rating</a></li>
                    <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33"><a href="http://itu.edu.pk/academics/">Research Benchmarking</a></li>
                    <li id="menu-item-312" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-312"><a href="http://itu.edu.pk/research/">Help</a></li>
                    <li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30"><a href="http://itu.edu.pk/admissions/">Team</a></li>
                    <li id="menu-item-68" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68"><a href="http://itu.edu.pk/faculty-itu/">Contact Us</a></li>
                  </ul></div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="faculty-pattern">
  <div class="container-fluid">
    <p class="heading-para">University Rating</p>
  </div>
</div>